.container {
  max-width: 100vw;
  height: 100vh;
}

/* Apply to all children of container */
.container > * {
  padding: 10px;
  color: #fff;
}

.grid {
  display: grid;
  /* grid-gap: 10px; */
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
    "header header header header"
    "nav nav nav nav"
    "main main main main"
    "footer footer footer footer";
}

@media screen and (min-width: 500px) {
  /* from 500px upwards */
  .grid {
    grid-template-areas:
      "header header header header"
      "nav main main main"
      "nav main main main"
      "footer footer footer footer";
  }
}
@media screen and (min-width: 750px) {
  /* from 750px upwards */
  .grid {
    grid-template-areas:
      "header header header header"
      "nav main main main"
      "nav main main main"
      "footer footer footer footer";
  }
}

header {
  background-color: #f00;
  grid-area: header;
}

nav {
  background-color: #0f0;
  grid-area: nav;
}

main {
  background-color: #00f;
  grid-area: main;
}

footer {
  background-color: #000;
  grid-area: footer;
}
